### VS tmps ###
.vs/

### yarn ###
.yarn/

### Build ###
build/
/out/

### Debug ###
Debug/
/HydgToolbox.dir/

### Compile Data ###
/HydgToolbox/

### Third-party libraries ###
libs/
/*.dll

### Test Plugins ###
# /plugins/
